# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# macOS
.DS_Store

# Distribution / packaging
*.egg-info/
dist/
build/

# exclude any simulation files created 
data_store/simulation_outputs/*.parquet
data_store/simulation_inputs/usage_params.json
